<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .decline-section{
            position: relative;
            height: 100vh;
        }
        .img{
            position: absolute;
            width: 40%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div class="decline-section">
        <img src="https://lh3.googleusercontent.com/proxy/TTDw7l47CH9nXapsPO2HO8LRh_Wf0alvT8DPO0YR772RPyqyBaLdDCNAEg2R6oJ69HsMx-xxyj70k0JvjosqHa8S7ICEEbuuqWZcDAJrkduI1eYvX7tLWD2_fJ_LPfn4w4IWjtKrE_OBLDUPz1gySpPGbsYMmK3iRgo" class="img" alt="">
    </div>
</body>
</html>