<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/css/home.css">
    <title>SH : Home</title>
</head>

<body>
    
    <div class="home-section" id="home-section">
        <!--Navigation bars-->
        <ul class="side-nav" id="side-nav">
            <li><a href="./webdev.html"> web dev</a></li>
            <li><a href="#"> home</a></li>
            <li><a href="./fsd.html">full stack</a></li>
        </ul>
        <ul class="top-nav">
            <li>
                <img src="../static/images/full-moon.png" alt="moon" class="theme-switcher" id="moon">
                <img src="../static/images/sun.png" alt="sun" class="theme-switcher hide" id="sun">
            </li>
            <li>
                <a href="#" class="faq" id="faq">FAQs</a>
            </li>
        </ul>

        <!--Text container-->
        <div class="text-container" id="text-container">
            <h1>Hi, I am Swarup Hegde</h1>
            <p>SME, Mycaptain : Web Dev | FSD</p>
            <h5>Select your workshop to see a 
                breakdown of what we are going to do in 
                the Live Discussions. <br><br><br>Let's have fun and learn something new!! </h5>
        </div>

        <!--Images-->
        <img src="../static/images/island-light.png" alt="island image" class="island" id="island-light">
        <img src="../static/images/island-dark.png" alt="island image" class="island hide" id="island-dark">
    </div>
    <script src="../js/home.js"></script>

</body>

</html>