<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/webdev.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163773895-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-163773895-3');
  </script>

  <title>SH : WD</title>
</head>

<body class="home-section" id="home-section">

  <div>

    <ul class="top-nav">
      <li>
        <h5><a href="../home.html" class="faq" id="faq" style="margin: 2em;">HOME</a></h5>
      </li>
    </ul>

    <h3>Web Development Course</h3>

    <!--Main content-->
    <div class="row">
      <div class="col s12 m3 l3">
        <div class="card">
          <div class="card-image">
            <img src="../static/images/starter.png">
            <span class="card-title black-text">Hors Devours</span>
          </div>
          <div class="card-content">
            <h6>Introduction to web development</h6>
            <p>Looking at the various building blocks and settling down to a 30-day roller coaster ride</p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col s12 m3 l3">
        <div class="card">
          <div class="card-image">
            <img src="../static/images/soup.png">
            <span class="card-title black-text">Soup Dish</span>
          </div>
          <div class="card-content">
            <h6>Wireframing</h6>
            <p>Sneak - peek at UI Design and how to create a website's blueprint</p>
          </div>
        </div>
      </div>
      <div class="col s12 m3 l3">
        <div class="card">
          <div class="card-image">
            <img src="../static/images/fish.png">
            <span class="card-title black-text">Fish Dish</span>
          </div>
          <div class="card-content">
            <h6>Examining the structure of a website</h6>
            <p>Introduction to HTML and identifying the various building blocks of a website</p>
          </div>
        </div>
      </div>
      <div class="col s12 m3 l3">
        <div class="card">
          <div class="card-image">
            <img src="../static/images/meat.png">
            <span class="card-title black-text">Meat Dish</span>
          </div>
          <div class="card-content">
            <h6>Introduction to CSS</h6>
            <p>First steps towards transforming the
              ugly duckling into a beautiful swan</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m3 l3">
        <div class="card">
          <div class="card-image">
            <img src="../static/images/main.png">
            <span class="card-title black-text">Main Dish</span>
          </div>
          <div class="card-content">
            <h6>Diving deeper into CSS</h6>
            <p>Whetting our appetite with more CSS and a LIVE design challenge</p>
          </div>
        </div>
      </div>
      <div class="col s12 m3 l3">
        <div class="card">
          <div class="card-image">
            <img src="../static/images/salad.png">
            <span class="card-title black-text">Salad</span>
          </div>
          <div class="card-content">
            <h6>Media Queries with CSS</h6>
            <p>Making our website responsive across all screen sizes</p>
          </div>
        </div>
      </div>
      <div class="col s12 m3 l3">
        <div class="card">
          <div class="card-image">
            <img src="../static/images/dessert.png">
            <span class="card-title black-text">Dessert</span>
          </div>
          <div class="card-content">
            <h6>CSS Animations and JS Events</h6>
            <p>Sprinkling a bit of sugar and all the
              wonderful stuff on our website</p>
          </div>
        </div>
      </div>
      <div class="col s12 m3 l3">
        <div class="card">
          <div class="card-image">
            <img src="../static/images/drink.png">
            <span class="card-title black-text">Drink</span>
          </div>
          <div class="card-content">
            <h6>Deploying our website</h6>
            <p>While I talk about my journey from a
              Noob to a Dude. #OneLastDance</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="../js/home.js"></script>

</body>

</html>