.row{
    margin: 5em !important;
}

h3{
    font-size: 1em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 450px){
    h3{
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1024px){
    h3{
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1600px){
    h3{
        font-size: 2em;
    }
}